@import "../../../../vendor/filament/forms/dist/module.esm.css";

@import "~tippy.js/dist/tippy.css";
@import "~tippy.js/themes/light.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

button[disabled] {
  opacity: 0.5;
}

.filament-sidebar {
  @apply !w-64;
}

.filament-main {
  @apply lg:!pl-64 rtl:lg:!pr-64;
}

.filament-main.lg\:pl-\[5\.4rem\] {
  @apply lg:!pl-[5.4rem] rtl:lg:!pr-[5.4rem];
}

.filepond--root[data-style-panel-aspect-ratio] .filepond--drop-label {
  transform: translateY(-50%) !important;
  position: absolute;
  top: 50%;
}

.fixed-sidebar > .grid {
  grid-template-columns: repeat(1fr);
}

@media (min-width: 1024px) {
  .fixed-sidebar > .grid {
    grid-template-columns: minmax(50%, auto) minmax(150px, 300px);
  }
}
